<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nimishgupta.mycollege">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LNMIIT"
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/favicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomNavigation"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".MainActivity" />
        <activity android:name=".freeSlotActivity" />
        <activity android:name=".AdminViewActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".AdminAcceptRequest" />
        <activity android:name=".AdminRejectRequest" />
        <activity android:name=".feedback"></activity>
    </application>

</manifest>